{% extends "Base/index.html" %}
{{ super() }}

{% block content %}
<main>
    <section class="title-area">
        <h1>Bem-vindo ao SuperSelect</h1>

        <p>Gerencie produtos, vizualize relatórios e otimize o controle de seu super mercado.</p>

    </section>
    <section class="content-area">
        <div class="card">
            <h3>Produtos</h3>
            <p class="card-description">Explore e gerencie o catálogo de produtos disponiveis.</p>
            <a href="/listagemProdutos" class="btn-submit">Acessar</a>
        </div>
        {% if user.get('type') == 'admin' %}
        <div class="card">
            <h3>Cadastrar produto</h3>
            <p class="card-description">Adicione um novo produto ao estoque.</p>
            <a href="/admCadastrarProdutos" class="btn-submit">Cadastrar</a>
        </div>
        {% endif %}
        <div class="card">
            <h3>Relatórios</h3>
            <p class="card-description">Visualize análizes detalhadas sobre estoque e validade.</p>
            <a href="/" class="btn-submit">Vizualizar</a>
        </div>

        <div class="card">
            <h3>Configurações</h3>
            <p class="card-description">Atualize suas prefenrências de informações e conta.</p>
            <a href="/" class="btn-submit">Configurar</a>
        </div>
    </section>
</main>
{% endblock %}