<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Select</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/base.css') }}">
</head>
<body>
{% if True %}
<nav>
    <div class="logo-area">
        <img src="{{ url_for('static', filename='imagens/logo_SS.png') }}" alt="logo da aplicação" class="logo">
        <h2>Super Select</h2>
    </div>
    <div class="butons">
        <a class="nav-button" href="/listagemProdutos">Produtos</a>
        <a class="nav-button" href="/">Relatórios</a>
        <a class="nav-button" href="/">Configurações</a>
        <a class="nav-button" href="/logout">Sair</a>
    </div>
</nav>
{% endif %}

{% block content %}
{% endblock %}

<footer>
    2024 SuperSelect. Todos os direitos reservados à:
        <a class="link-github" href="https://github.com/ademirMaltazard">
            <img class="github-icon" src="{{ url_for('static', filename='imagens/github.svg') }}"> @ademirMaltazard
        </a>.
</footer>
</body>