{% extends 'Home/index.html' %}
{{ super() }}

{% block content %}
<main>
    <section class="title-area">
        <h1>Listagem de Produtos</h1>
        <p> Veja todos os produtos cadastrados no sistema.</p>
    </section>
    <section class="content-area table-area">
        {% if length > 0 %}
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="th-name">Nome do produto</th>
                    <th>Categoria</th>
                    <th>Preço (R$)</th>
                    <th>Data de validade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td>00</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.expiration }}</td>
                    <td class="btn-action">
                        <a href="/" class="btn-blue">
                            <img class="pagination-icon" src="{{ url_for('static', filename='imagens/chat-square-text.svg') }}">
                            Comentários
                        </a>
                        <a href="/" class="btn-red">
                            <img class="pagination-icon" src="{{ url_for('static', filename='imagens/trash.svg') }}">
                            Deletar
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if currentPage > 1 %}
                <a href="?currentPage={{ currentPage - 1 }}" class="btn-pagination" >
                    <img class="pagination-icon" src="{{ url_for('static', filename='imagens/chevron-left.svg') }}">
                </a>
                {% endif %}
                <p>Pagina {{ currentPage }} de {{ totalPages }}</p>
                {% if currentPage < totalPages %}
                <a href="?currentPage={{ currentPage + 1 }}" class="btn-pagination">
                    <img class="pagination-icon" src="{{ url_for('static', filename='imagens/chevron-right.svg') }}">
                </a>
                {% endif %}
            </div>
        {% else %}
            <h2> Não há produtos cadastrados!</h2>
            {% if user.get('type') == 'admin' %}
                <a class="btn-submit" href="/admCadastrarProdutos">Cadastrar</a>
            {% endif %}
        {% endif %}
    </section>
</main>
{% endblock %}