{% extends 'Home/index.html' %}
{{ super() }}

{% block content %}
<main>
    <section class="title-area">
        <h1>Listagem de Produtos</h1>
        <p> Veja todos os produtos cadastrados no sistema.</p>
    </section>
    <section class="content-area table-area">
        {% if length > 0 %}
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th class="th-description">Descrição</th>
                    <th>Categoria</th>
                    <th>Preço (R$)</th>
                    <th>Quantidade</th>
                    <th>Data de validade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.nome }}</td>
                    <td>{{ product.descricao }}</td>
                    <td>{{ product.categoria }}</td>
                    <td>{{ product.preco }}</td>
                    <td>{{ product.quantidade }} {{ product.tipo }}</td>
                    <td>{{ product.validade }}</td>
                    <td class="btn-action">
                        <a href="/comentarios" class="btn-blue">
                            <img class="pagination-icon" src="{{ url_for('static', filename='imagens/chat-square-text.svg') }}">
                            <p class="caption">Comentários</p>
                        </a>
                        {% if current_user.tipo == 'admin' %}
                        <a href="/atualizar-produto/{{ product.id }}" class="btn-yellow">
                            <img class="pagination-icon" src="{{ url_for('static', filename='imagens/pencil.svg') }}">
                        </a>
                        <button class="openModalBtn btn-red" data-produto-id="{{ product.id }}">
                            <img class="pagination-icon" src="{{ url_for('static', filename='imagens/trash.svg') }}">
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if currentPage > 1 %}
                <a href="?currentPage={{ currentPage - 1 }}" class="btn-pagination" >
                    <img class="pagination-icon" src="{{ url_for('static', filename='imagens/chevron-left.svg') }}">
                </a>
                {% endif %}
                <p>Pagina {{ currentPage }} de {{ totalPages }}</p>
                {% if currentPage < totalPages %}
                <a href="?currentPage={{ currentPage + 1 }}" class="btn-pagination">
                    <img class="pagination-icon" src="{{ url_for('static', filename='imagens/chevron-right.svg') }}">
                </a>
                {% endif %}
            </div>
        {% else %}
            <h2> Não há produtos cadastrados!</h2>
            {% if current_user.tipo == 'admin' %}
                <a class="btn-submit" href="/admCadastrarProdutos">Cadastrar</a>
            {% endif %}
        {% endif %}
    </section>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h2>Deletar Produto</h2>
            <p>Você tem certeza que deseja deletar este produto?</p>
            <a id="deleteBtn" href="#" class="btn-red">Deletar Produto</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var modal = $('#myModal');
            var closeBtn = $('.close-btn');
            var deleteBtn = $('#deleteBtn');

            // Quando o usuário clica no botão "Deletar"
            $('.openModalBtn').click(function() {
                var produtoId = $(this).data('produto-id');
                deleteBtn.attr('href', '/excluir-produto/' + produtoId); // Atualiza o link de deletar

                modal.show(); // Abre o modal
            });

            // Quando o usuário clica fora do modal, ele fecha
            $(window).click(function(event) {
                if ($(event.target).is(modal)) {
                    modal.hide();
                }
            });
        });
    </script>
</main>
{% endblock %}