* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #18ab18;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

main {
    background-color: #e1e1e1;
    display: flex;
    min-height: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    color: white;
    background-color: #007500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 5%;
    height: 8%;
}

.logo-area {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.nav-button {
    color: white;
    padding: 10px;
    margin: 0 10px;
}

.logo {
    width: 40px;
    border-radius: 50%;
    height: auto;
    margin-right: 10px;
}

.title-area {
    background-color: #30a130;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    align-items: center;
    height: 20%;
    width: 100%;
    justify-content: center;
}

h1 {
    margin: 15px 0;
}

.content-area {
    background-color: #f0f0f0;
    width: 100%;
    min-height: 390px;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    color: black;
    background-color: #ffffff;
    width: 18vw;
    min-width: 155px;
    min-height: 158px;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 6px rgba(0, 255, 0, 0.5);
    transform: translateY(-10px);
}

h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.card-description {
    min-height: 40px;
}

.form-register {
    background-color: white;
    display: flex;
    width: 50vw;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: flex;
    color: #000;
    align-items: start;
    padding: 5px 5px;
}

input {
    border-radius: 5px;
    border: solid;
    border-color: gray;
    padding: 2px 5px;
}

textarea {
    border-radius: 5px;
    border: solid;
    border-color: gray;
    padding: 2px 5px;
}

select {
    border-radius: 5px;
    border: solid;
    border-color: gray;
    padding: 2px 5px;
}

.details {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

.prodType {
    max-width: 100px;
}

.btn-submit {
    color: green;
    padding: 2px;
    width: 150px;
    align-self: center;
    margin: 10px;
    border: solid 2px green;
    border-radius: 10px;
    padding: 5px 10px;
}

.btn-submit:hover {
    background-color: gray;
    color: white;
}

/* Estilo da tabela */
.table-area {
    flex-direction: column;
    justify-content: center;
    color: #000;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f9f9f9;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 255, 0, 0.5);
}

th, td {
    width: auto;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.th-description {
    min-width: 300px;
}

td a {
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

/* Estilo dos botões */

.btn-action {
    display:flex;
    justify-content: space-around;
}

.btn-blue {
    display: flex;
    background-color: #007bff;
    color: white;
    margin: 0 2px;

    .caption {
        margin-left: 5px;
    }
}

.btn-blue:hover {
    background-color: #0056b3;
}

.btn-yellow {
    background-color: #feff00;
    color: black;
    margin: 0 2px;
}

.btn-yellow:hover {
    background-color: #c2c300;
}

.btn-red {
    background-color: #dc3545;
    color: white;
    margin: 0 2px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.btn-red:hover {
    background-color: #c82333;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Conteúdo do modal */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;

    p {
        margin-bottom: 10px;
    }
}

.pagination {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.btn-pagination {
    font-weight: bold;
    width: 20px;
    height: 20px;
    border: 4px ridge green;
    border-radius: 50%;
    margin: 0 5px;
    padding: 0;
}

.btn-pagination:hover {
    background-color: gray;
    cursor: pointer;
}

.pagination-icon {
    width: 10px;
    height: 10px;
}


.comments-section {
  max-width: 800px;
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Para adicionar rolagem ao elemento */
  height: 300px;  /* Definir altura para que a rolagem seja ativada */
}

.comment {
  min-width: 500px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.comment:last-child {
  border-bottom: none;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-name {
  font-size: 16px;
  color: #333;
}

.comment-date {
  font-size: 14px;
  color: #777;
}

.comment-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.comment-content p {
  font-size: 14px;
  color: #555;
}

/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;  /* Largura da barra de rolagem */
  height: 12px; /* Altura da barra de rolagem (para elementos com rolagem horizontal) */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #d6f5d6;  /* Verde bem claro */
  border-radius: 10px;  /* Bordas arredondadas para o fundo */
}

/* Thumb da barra de rolagem (parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #4CAF50;  /* Verde */
  border-radius: 10px;  /* Bordas arredondadas para o thumb */
  border: 3px solid #d6f5d6;  /* Pequena borda que combina com o fundo */
}

/* Quando o usuário estiver interagindo com a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
  background-color: #388e3c;  /* Verde mais escuro ao passar o mouse */
}

footer {
    width: 100vw;
    min-height: 5vh;
    height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.link-github {
    display: flex;
    background: #000;
    border-radius: 20px;
    padding: 2px 10px 2px 2px;
    color: #fff;
    align-items: center;
}

.github-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 2px;
}

@media (max-width: 1200px) {
    .content-area {
        height: auto;
    }

    .caption {
        display: none;
    }
}