<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Select</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<div class="login-area">
    <img src="{{ url_for('static', filename='imagens/logo_SS.png') }}" alt="logo da aplicação">
    <h1>Super Select</h1>
    <p>Bem vindo! faça seu login para continuar.</p>
    <form action="{{url_for('login')}}" method="POST">
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" placeholder="Insira seu login">
        <br/>
        <label>Senha:</label>
        <input id="password" type="password" name="password" placeholder="Insira sua senha">
        <button type="submit" class="btn-submit">Entrar</button>
    </form>

    <div>
        <p>Não tem uma conta? <a href="/">Registrar-se</a></p>
    </div>
</div>
</body>