<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Select - Registrar-se</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/loginRegister.css') }}">
</head>
<body>
<div class="content-area">
    <img src="{{ url_for('static', filename='imagens/logo_SS.png') }}" alt="logo da aplicação">
    <h1>Super Select</h1>
    <p class="subtitle">Registrar-se.</p>
    <form action="{{url_for('register')}}" method="POST">
        <label for="name">Nome:</label>
        <input id="name" type="text" name="name" placeholder="Insira seu nome" required>
        <label for="userName">Nome de usuario:</label>
        <input id="userName" type="text" name="userName" placeholder="Insira seu nome de usuario" required>
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" placeholder="Insira seu login" required>
        <label for="phone">Telefone:</label>
        <input id="phone" type="text" name="phone" placeholder="Insira seu telefone" required>
        <label for="password">Senha:</label>
        <input id="password" type="password" name="password" placeholder="Insira sua senha" required>
        <label for="code">Codigo*:</label>
        <input id="code" type="password" name="code" placeholder="Insira o código de administrador">
        {% if alert %}
        <span class="alert">{{ alert }}</span>
        {% endif %}
        <button type="submit" class="btn-submit">Cadastrar</button>
    </form>

    <div>
        <p>Já possui uma conta cadastrada? <a href="{{url_for('login')}}">logar-se</a></p>
        <p class="description">*: Opcional</p>
    </div>

    <div class="github-session">
        <a class="link-github" href="https://github.com/ademirMaltazard" target="_blank">
            <img class="github-icon" src="{{ url_for('static', filename='imagens/github.svg') }}"> @ademirMaltazard
        </a>.
    </div>
</div>
</body>